html,
.view {
    height: 100%;
    scroll-behavior: smooth;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
    height: 1000px;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    html,
    body,
    header,
    .view {
    height: 650px;
    }
}
@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background: #1C2331!important;
    }
}

@media (max-width: 740px) {
  .full-page-intro {
    height: 1000px; } }

@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

.navbar {
  background-color: rgba(0, 0, 0, 0.3); }

.top-nav-collapse {
  background-color: #1C2331; }

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

.page-footer {
    background-color: #1C2331; }

.rowCentradoY{
    margin-top: 10vh;
	margin-bottom: 5vh;
}

@media (max-width: 992px){
	.rowCentradoY{
		margin-top: 0;
		margin-bottom: 0;
	}
}

.img-card{
    max-height: 100vh;
}

.img-horizontal-card{
    max-height: 40vh
}

.no-shadows{
    box-shadow: none!important;
}

.clickable{
    cursor: pointer;
}
